// 颜色定义规范
$body-background: #efeff4;
$tab-background: #fff;

$color-background: #222;
$color-background-d: rgba(0, 0, 0, 0.3);
$color-highlight-background: #333;
$color-dialog-background: #666;
$color-theme: #dd2637;
$color-theme-d: rgba(255, 205, 49, 0.5);
$color-sub-theme: #d93f30;
$color-text: #666;
$color-text-d: rgba(255, 255, 255, 0.3);
$color-text-l: rgba(255, 255, 255, 0.5);
$color-text-ll: rgba(208, 208, 208, 0.82);

//字体定义规范
$font-family: 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif, 'Droid Sans Fallback';
$font-size-small-s: 10px;/*px*/
$font-size-small: 12px;/*px*/
$font-size-medium: 14px;/*px*/
$font-size-medium-x: 16px;/*px*/
$font-size-large: 18px;/*px*/
$font-size-large-x: 22px;/*px*/
$font-size-icon-medium: 24px;/*px*/
